name: Update Settings Test

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install requests
        run: pip install requests

      - name: Run update test
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python update_settings_test.py
